<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Location</th>
              <th>Return date</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <% @travel_plans.each do |trip| %>
              <tr>
                <td><%= link_to Location.find_by_id(trip.location_id).name,
                requests_path(location: Location.find_by_id(trip.location.id).name)%></td>
                <td><%= trip.return_date.strftime("%d/%m/%Y") %></td>
                <td align="center" class="text-left">
                  <%= link_to requests_path(location: Location.find_by_id(trip.location.id).name), 
                    class:"btn btn-default", 
                    data: {toggle: "tooltip", placement: "top"},
                     title: "Go to Location" do %>
                     <span class="glyphicon glyphicon-search"></span>
                   <% end %>
                   <%= link_to travel_plan_path(trip), method: :delete, 
                     class:"btn btn-default", 
                     data: {toggle: "tooltip", placement: "top", 
                            confirm: "are you sure?" },
                     title: "Delete" do %>
                     <span class="glyphicon glyphicon-remove"></span>
                   <% end %>
                 </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
