<%= flash_messages %>
<div class="row">
  <div class= "col-sm-6">
    <%= link_to "New Trip", new_travel_plan_path, class: "btn btn-success" %>
  </div>
</div>
<hr>
<h2 class="text-center">
  Your trips
</h2>
<%= render "trip_table" %>
