<div class="row">
  <div class="col-md-2">
      <img class="img-circle avatar pull-right" 
      src=<%= User.find_by_id(comment.user_id).avatar%>>
  </div>

  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= User.find_by_id(comment.user_id).email %></strong> 
        <span class="text-muted"><small><%= time_ago_in_words(comment.created_at) %> ago</small> </span>
      </div>
      <div class="panel-body">
        <%= comment.content %>
      </div>
    </div>
  </div>
</div>
