<form method="post" action="<%= item_delivered_request_path(@request) %>" class="btn-form" data-remote="true">
  <%= token_tag %>
  <button type="submit" class="btn btn-success">Delivered!</button>
</form>