@import "bootstrap-sprockets";
@import "bootstrap";
@import "credit-card";
@import "comments";
@import "requests";
.container {
  margin-top: 80px;
}

.footer {
  clear: both;
  background: #0D47A1;
  width: 100%;
  color: #fff;
}

.inline {
  display: inline;
}

.btn-form {
  display: inline;
}

.contact-us {
  margin-top: 20px;
}

.avatar {
  max-width: 48px;
  max-height: 48px;
}

.user-info {
  .username {
    vertical-align: top;
  }
  .user-rating {
    vertical-align: bottom;
    font-size: 24px;
  }
}

.product-image {
  max-height: 320px;
  max-width: 320px;
}

.well, .panel {
  border-color: #d2d2d2;
  box-shadow: 0 1px 0 #cfcfcf;
  border-radius: 3px;
}

.panel .btn i, .btn span {
  color: black;
}

.panel .panel-heading {
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  color: #262626;
  border-color: #ffffff;
}

.panel .panel-heading a {
  font-weight: 400;
  font-size: 11px;
}

.panel .panel-default {
  border-color: #cccccc;
}

.panel .img-circle {
  width: 50px;
  height: 50px;
}

.panel .panel-thumbnail {
  padding: 0;
}

.navbar-default {
  height: 60px;
  background: #0D47A1;
}

.nav-link{
  color: white;
}

img{
  margin-top: -11px;
}

body{
  color: #0D47A1;
}

.form-inline{
  margin-bottom: 20px;
}

h1{
  font-size: 60px;
}

.navbar-default .navbar-nav > li > a{
  color: #fff;
}

.search-wrapper{
  padding-bottom: 20px;
}

.img-responsive{
  margin: auto;
}
