@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-color: #4DB6AC;
}

.nav-item {
  background: #80CBC4;
}
.nav-link {
  color: white;
}

body {
  background: #009688;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.body-container {
  margin-top: 80px;
}

.slogan {
  color: #E0F2F1;
}

.button-wrapper {
  text-align: center;
}

.btn {
  background: #80CBC4;
  color: #009688;
}

.well,.panel {border-color:#d2d2d2;box-shadow:0 1px 0 #cfcfcf;border-radius:3px;}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 140px;
  background-color: #4DB6AC;
  width: 100%;
}
.panel .btn i,.btn span{
  color: black;
}
.panel .panel-heading {
  background-color:#ffffff;
  font-weight:700;
  font-size:16px;
  color:#262626;
  border-color:#ffffff;
}
.panel .panel-heading a {
  font-weight:400;
  font-size:11px;
}
.panel .panel-default {
  border-color:#cccccc;
}
.panel .img-circle {
  width:50px;
  height:50px;
}

.panel .panel-thumbnail {
  padding:0;
}
