<div class="footer">
  <div class="container">
    <a name="about-us"></a>
    <p class="contact-us"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;72 Lê Thánh Tôn, Phường Bến Thánh, Q1,
      HCMC, VietNam</p>
    <p class="contact-us"><i class="glyphicon glyphicon-earphone"></i>&nbsp;&nbsp;+84 90 674 8189</p>
    <p class="contact-us"><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;<a href="">support@simple.com</a></p>
    <br>
  </div>
</div>